{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href=" {% static 'frontend_css/login/global.css' %} " />
    <link rel="stylesheet" href="{% static 'frontend_css/login/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gugi:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="log-in-dark">
      <div class="page-header">
        <div class="horizontal-container">
          <img
            class="company-logo-icon"
            alt=""
            src="{% static 'frontend_css/login/public/company-logo.svg' %}"
          />

          <div class="biggbizz">
            <span class="biggbizz-txt">
              Bigg<span class="bizz">Bizz</span>
              
            </span>
          </div>
          <div class="text-input">
            <div class="button">
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder.svg' %}"
              />

              <div class="text">Home</div>
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder1.svg' %}"
              />
            </div>
            <div class="button1">
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder1.svg' %}"
              />

              <div class="text">About Us</div>
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder1.svg' %}"
              />
            </div>
            <div class="dropdown">
              <div class="text-input1">
                <img
                  class="placeholder-icon"
                  alt=""
                  src="{% static 'frontend_css/login/public/dot-menu.svg' %}"
                />

                <div class="text">Resources</div>
                <img
                  class="chevrondown-icon"
                  alt=""
                  src="{% static 'frontend_css/login/public/chevrondown.svg' %}"
                />
              </div>
            </div>
            <div class="button1">
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder2.svg' %}"
              />

              <div class="text">Contact</div>
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder2.svg' %}"
              />
            </div>
          </div>
          <div class="button3">
            <div class="button1">
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder3.svg' %}"
              />

              <div class="text">Sign Up</div>
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder4.svg' %}"
              />
            </div>
            <button class="button5">
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder2.svg' %}"
              />

              <div class="text4">Log In</div>
              <img
                class="placeholder-icon"
                alt=""
                src="{% static 'frontend_css/login/public/placeholder2.svg' %}"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="banner-parent">
        <div class="banner">
          <img class="banner-child" alt="" src="{% static 'frontend_css/login/public/rectangle-3@2x.png'%}" />
        </div>
        <div class="log-in-part">
          <div class="web-modal">
            <div class="lets-log-you">Let’s log you in.</div>
            <div class="social-button">
              <img
                class="social-platforms-logo"
                alt=""
                src="{% static 'frontend_css/login/public/social-platforms-logo.svg' %}"
              />

              <div class="text">Sign in with Google</div>
            </div>
            <div class="divider">
              <div class="divider-child"></div>
              <img
                class="social-platforms-logo1"
                alt=""
                src="{% static 'frontend_css/login/public/social-platforms-logo1.svg' %}"
              />

              <div class="or-sign-in">Sign In with Apple</div>
              <div class="divider-child"></div>
            </div>
            <form  action = "{% url 'login-user' %}" method = "POST" >
              {% csrf_token %}
              <div class="input-form">
                <div class="input-field">
                  <div class="label">Username</div>
                  <div class="segmented-picker">
                    <div class="text-input2">
                      {% comment %} <div class="text5">Insert your username</div> {% endcomment %}
                      <input
                        type="text"
                        class="segmented-picker text5 text-input2"
                        style="color: white; font-size: 16px ;" 
                        name="username"
                        placeholder="Insert your username"
                      />
                    </div>
                    
                  </div>
                  <div class="hint-text">Hint text</div>
                </div>
                <div class="input-field">
                  <div class="label">Password</div>
                  <div class="segmented-picker">
                    <div class="text-input2">
                      <input
                        type="text"
                        class="segmented-picker text5 text-input2"
                        style="color: white; font-size: 16px ;" 
                        name="password"
                        placeholder="Insert your password"
                      />
                    </div>
                    

                    <img class="fieye-icon" alt="" src="{% static 'frontend_css/login/public/fieye.svg' %}" />
                  </div>
                  <div class="hint-text">Hint text</div>
                </div>
                <div class="horizontal-container1">
                  <div class="button1">
                    <img
                      class="placeholder-icon"
                      alt=""
                      src="{% static 'frontend_css/login/public/placeholder5.svg' %}"
                    />

                    <div class="text">Forgot username/password?</div>
                    <img
                      class="placeholder-icon"
                      alt=""
                      src="{% static 'frontend_css/login/public/placeholder6.svg' %}"
                    />
                  </div>
                </div>
              </div>
              <div class="text-input-container">
                <div class="button7">
                  <div class="text"></div>
                  <input type="submit" class="button7" style ="border: none;color: white;" value="Log In" >               
                </div>
              </form>
              <div class="text-input4">
                <div class="dont-have-an">Don’t have an account?</div>
                <div class="button8">
                  <img
                    class="placeholder-icon"
                    alt=""
                    src="{% static 'frontend_css/login/public/placeholder5.svg' %}"
                  />

                  <div class="text">Register</div>
                  <img
                    class="placeholder-icon"
                    alt=""
                    src="{% static 'frontend_css/login/public/placeholder9.svg' %}"
                  />
                </div>
              </div>
            </div>
            <div class="xclose-button">
              <div class="button-close">
                <img
                  class="chevrondown-icon"
                  alt=""
                  src="{% static 'frontend_css/login/public/close-cross.svg' %}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
